li {
  margin-bottom: 16px;
}
[target='_blank'] {
  border: 2px solid black;
}
a[href^='broken'] {
  border: 2px solid red;
}
a[href$='.com'] {
  margin-left: 50px;
}
a[lang*='en'] {
  font-size: 10px;
}
a[href*='www'] {
  color: green;
}
<<<<<<< HEAD
[title*='popular'] {
=======
a[title*='popular'] {
>>>>>>> 4c319bf9c5a9798906551e3c770ba1dcbc3ee32a
  font-size: 24px;
}
