* {
    box-sizing: border-box;
}

table {
    margin: 16px;
}

table,
td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

td {
    height: 50px;
    width: 50px;
}

.eight>td:nth-child(odd),
.seven>td:nth-child(even),
.six>td:nth-child(odd),
.five>td:nth-child(even),
.four>td:nth-child(odd),
.three>td:nth-child(even),
.two>td:nth-child(odd),
.one>td:nth-child(even) {
    background-color: black;
}

.row>td:first-child,
.row>td:last-child,
.letters>td {
    border: none;
    background-color: white;
}